.aside-container {
  background-image: url(../assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 25rem;
  height: 45.5rem;
  display: flex;
  justify-content: center;
  
 
}

header {
  display: flex;
  width: 21rem;
  height: 9rem;
  margin-top: 2rem;
  flex-direction: column;
  gap: 1rem;

  & .confetti {
    margin-bottom: 1rem;
  }

  & h1 {
    font: var(--logo);
    color: var(--pink);
  }

  & p {
    font: 300 1rem/1rem var(--font-family-sans);
    color: var(--text-heading);
    margin-top: 0.25rem;
  }
}

.confetti {
    width: 2.84rem;
    height: 3rem;
}
