.aside-container {
  background-image: url(../assets/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.25rem;
  width: 400px;
  height: 728px;
  display: flex;


  overflow: hidden;
}

.aside-header {
  display: flex;
  flex-direction: column;

  & .aside-text {
    display: flex;
    margin-top: 32px;
    flex-direction: column;
    width: 336px;
    height: 144px;
    gap: 16px;

  }
  

  & .confetti {
    margin-bottom: 1rem;
    
  }

  & h1 {
    font: var(--logo);
    color: var(--pink);
    
  }

  & p {
    font: 300 1rem/1rem var(--font-family-sans);
    color: var(--text-heading);
    margin-top: 0.25rem;
    

  
}

.confetti {
    width: 2.84rem;
    height: 3rem;
}
}
