.contact-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  border-radius: 0.75rem;
  padding: 1.5rem;
  background-color: var(--surface); 
  gap: 1.5rem;
}


.contact-container .contact-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
  font: var(--heading-sm);
}

.contact-container h3 {
  color: var(--text-heading);
}

.contact-container svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--input-placeholder);
}


.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.input-wrapper label {
  font: var(--body-sm);
  color: var(--text-heading);
}


.input-wrapper input {
  background-color: var(--input-base);
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  font: var(--body-md);
  color: var(--text-heading);
  border: 1px solid var(--input-stroke);
  padding: 0.75rem 1rem;
  transition: all 0.2s ease;
}

.input-wrapper input::placeholder {
  color: var(--input-placeholder);
}


.input-wrapper input:hover {
  border-color: var(--brand-light);
}

.input-wrapper input:focus {
  outline: none;
  border: 1px solid var(--brand-light);

}




.input-wrapper input:invalid {
  border: 1.5px solid var(--danger);
}
.input-wrapper .error {
  display: none;
  align-items: center;
  gap: 0.25rem;
  font: var(--body-xs);
  color: var(--danger);
}

.input-wrapper input:invalid + .error {
  display: flex;
}
