fieldset {
  border: none;

  max-width: 560px;
  max-height: 1736px;
  display: grid;  
  gap: 1rem;

}

.toggle-buttons {
  display: flex;
  position: relative;
  background-color: var(--input-base);
  border-radius: .5rem;
  border: 1px solid var(--input-stroke);
  overflow: hidden;
  gap: .25rem;
  
  align-items: center;


  &:hover {
    border: 1px solid var(--brand-light);
    color: var(--brand-light);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--brand-light);
    color: var(--text-heading);
  }

  & .toggle-buttons > svg {
    height: 1rem;
    width: 1rem;
  }
   

  & .toggle-button {
    display: flex;
    gap: .75rem;
    padding: .75rem;
    background-color: var(--input-base);
    border-radius: .5rem;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    font: var(--body-sm);
    color: var(--text-body);
    
    cursor: pointer;
    width: 9rem;
    height: 3rem;


    &:hover:not(.active) {
      background-color: var(--shape-hover);
    }
  }
}

.hidden-radio {
  position: absolute;
  opacity: 0; 
  width: 0;
  height: 0;
  pointer-events: none;
}

.hidden-radio:checked + .toggle-button {
  background-color: var(--shape-button); 
  color: var(--text-heading); 

  & svg {
    color: var(--brand-light);
  }
}

.toggle-button:hover:not(.hidden-radio:checked + .toggle-button) {
  background-color: var(--shape-hover); 
}

#description {
  display: flex;
  
  height: 8.5rem;
  background-color: var(--input-base);
  border-radius: 1rem;
  font: var(--body-md);
  color: var(--text-body);
  border: 1px solid var(--input-stroke);
  padding: 0.75rem 1rem; 
}