.personalization-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 24px;
  
  

  & .personalization-header {
  display: flex;
  margin-top: 2.5rem;
  
  gap: 0.75rem;
  

  & svg {
    color: var(--input-placeholder);
  }
  }
}

p {
  font: var(--body-sm);
  color: var(--text-body);
}

.color-options {
  display: flex;
  gap: 9px;
  margin-top: 16px;
}

.color-options .hidden-radio {
  position: absolute;
  opacity: 0; 
  width: 0;
  height: 0;
  pointer-events: none; 
}


.color-options .color-circle {
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 50%; 
  background-clip: content-box;
  border: 1px solid transparent;
  background-image: url(../icons/circle-default.svg);
  cursor: pointer;
  transition: border-color 0.2s ease; 
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}


.color-options .color-circle:hover {  
  background-image: url(../icons/circle-hover.svg); 
}


.color-options .hidden-radio:checked + .color-circle {
  border-color: var(--brand-light); 
  
}

.circle-blue {
  display: flex;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--brand-light);
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  left: 15%;
}

.circle-navy {
  display: flex;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--navy);
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  left: 15%;
}

.circle-purple {
  display: flex;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--purple);
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  left: 15%;
}

.circle-fuschia {
  display: flex;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--fuschia);
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  left: 15%;
}

.circle-pink {
  display: flex;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--pink);
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  left: 15%;
}

.circle-danger {
  display: flex;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--danger);
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  left: 15%;
}

.circle-orange {
  display: flex;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--orange);
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  left: 15%;
}

.circle-yellow {
  display: flex;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--yellow);
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  left: 15%;
}

.circle-lime {
  display: flex;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--lime);
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  left: 15%;
}

.circle-green {
  display: flex;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--green);
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  left: 15%;
}

.circle-cyan {
  display: flex;
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--cyan);
  z-index: 1;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  left: 15%;
}

