.theme-container {
  display: flex;
  flex-direction: column;

  

  & p {
    margin-top: 28px;
    font: var(--body-md);
  }

  & .grid-container  {
    display: grid;
    grid-template-columns: repeat(4, 134px); 
    gap: 8px; 
    width: 100%; 
  
    margin: 0 auto;
    
  }

  & .card-button {
    width: 134px;
    height: 103px;
    background-color: var(--shape-button);
    border-radius: 8px;
    border: 1px solid transparent;

    aspect-ratio: 134 / 152;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
  }

  & .card-button img {
    width: 126px;
    height: 64px;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 4px;    
    object-fit: cover;
  }

  & .card-button span {
    font: var(--body-md);
    color: var(--text-heading);
  }

  & .hidden-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  & .hidden-radio:checked + .card-button {
    border: 2px solid var(--brand-light);
    background-color: var(--shape-button);
    
  }

  & .card-button:hover {
    border: 2px solid var(--input-stroke);
    background-color: var(--shape-hover);
  }
}

.theme-2 {
  display: flex;
  gap: 1rem;
  margin-top: 28px;
  width: 176px;
  height: 78px;
  position: relative;
 
  
  & .style-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  & .radio-heading {
      display: flex;
      margin-top: 0;      
      color: var(--text-body);
    }

  & .style-button {
    
    width: 176px;
    height: 48px;
    
      
    & label {
      display: flex;
      align-items: center;
      margin-top: 5px;
      gap: 0.5rem;
      cursor: pointer;
      transition: background 0.2s;
    }

    & .style-content {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    
    

    & .radio-text {
      font: var(--body-sm);
      color: var(--text-heading);
    }
  }
}

.style-button:hover {
  background-color: var(--shape-hover);
}


.style-button:checked .switch-button {
  background-image: url(../icons/style-button-checked.svg);
}

.dropzone {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 12px;
  min-width: 360px;
  height: 79px;


  
    & .radio-heading-2 {
      margin-top: 0px;      
    }

    & .file-name {
      font: var(--body-md);
      color: var(--input-placeholder);
    }
}

.file-select-container {
  & path {
    width: 1rem;
    height: 1rem;

    color: var(--brand-light);

  }

  & div {
    font: var(--body-sb);
  }
}


