.theme-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* position: absolute; */

  & p {
    margin-top: 28px;
    font: var(--body-md);
  }

  & .grid-container  {
    display: grid;
    grid-template-columns: repeat(4, 134px);
    grid-auto-rows: 103px;
    gap: 8px;
    justify-content: center;
    
  }

  & .card-button {
    width: 134px;
    height: 103px;
    background-color: var(--shape-button);
    border-radius: 8px;
    border: 1px solid transparent;

    aspect-ratio: 134 / 152;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
  }

  & .card-button img {
    width: 126px;
    height: 64px;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 4px;    
    object-fit: cover;
  }

  & .card-button span {
    font: var(--body-md);
    color: var(--text-heading);
  }

  & .hidden-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  & .hidden-radio:checked + .card-button {
    border: 2px solid var(--brand-light);
    background-color: var(--shape-button);
    
  }

  & .card-button:hover {
    border: 2px solid var(--input-stroke);
    background-color: var(--shape-hover);
  }
}

.